@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
